.product {
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 1;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;

}

.product__name,
.product__price {
    margin: 2px;
}

.product__image {
    max-height: 100px;
    object-fit: contain;
    width: 100%;
    margin-bottom: 15px;
}

.product>button {
    background-color: #f0c14b;
    border: 1px solid;
    color: #111;
    border-color: #a88734 #9c7e31 #846a29;
}

.product__info {
    height: 90px;
    margin-bottom: 15px;
    width: 100%;
}